# Remove the previous line if you edit this file

useDynLib(LogicReg)

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  survival
)

S3method(plot, logreg)
S3method(plot, logregmodel)
S3method(plot, logregtree)
S3method(print, logreg)
S3method(print, logregmodel)
S3method(print, logregtree)
S3method(predict, logreg)
importFrom("graphics", "axis", "barplot", "box", "hist", "abline", "image", "lines", "par", "plot", "points", "text")
importFrom("stats", "runif", "var")
importFrom("utils", "help")
importFrom("grDevices", "dev.off", "postscript")

